*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body
{
   background: #FFFFFF;
   height: auto!important;
}

.container
{
    width: 1440px;
    margin: 0 auto;
}



.logo
{
   
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 25px;
letter-spacing: -0.08em;
text-transform: uppercase;
color: #333333;
font-family:'Inconsolata';
}

.header__container
{
    margin-top: 2.5rem;
}


.main__container
{
    margin-top:143px ;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
.main__image img {
    width: 539px;
}


.main__text h1
{

    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 95px;
    letter-spacing: -0.035em;
    width: 586px;
    color: #333333;
}

.main__text p 
{
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.035em;
    width: 381px;
    color: #4F4F4F;
    margin-top:43px;
    margin-bottom: 54px;
    
}


.btn
{
padding: 20px 30px;
background: #333333;
color: #fff;
font-family: 'Space Mono';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 21px;
letter-spacing: -0.035em;
text-transform: uppercase;
color: #FFFFFF;
}




/* Footer CSS  */

footer
{
    text-align: center;
    
}


footer p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #BDBDBD;
margin-top:400px;
}

footer strong 
{
    text-decoration: underline;
}